.slick-list {
  width: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  #parallaxbg-hero {
    padding-top: 150px;
  }
}

@media screen and (max-width: 992px) {
  .hero-logo {
    width: 75%;
  }
}

.nosotros-title {
  clip-path: polygon(0% 50%,11% 0%,89% 0%,100% 50%,89% 100%,11% 100%);
}

.hero-button2:hover {
  background-color: #141414;
  color: white;
}

@media screen and (max-width: 992px) {
  #navbar {
    background-color: #FED621;
  }
}

.service-bg {
  transition: ease 0.5s;
  border-radius: 10px;
}

.service-bg:hover {
  background-color: #FED621;
  color: #222222;
}

#clientes {
  background-color: #222222;
}

#services {
  background: #222222;
  color: white;
}

.team-name {
  color: #FED621;
}

#equipo {
  background-color: #333333;
}

.gonzalo-icon {
  width: 24px;
  margin-right: 8px;
  border-radius: 20px;
}

.bg--yellow {
  background-color: #FED621;
}

.list-links a {
  color: #000;
  text-decoration: none;
}

.list-links a {
  position: relative;
}

.list-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #FED621;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.list-links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.box {
  padding: 2rem;
  transition: all .2s linear;
}

.yogurt-2f58xg {
  outline: 0px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px;
  -webkit-box-align: center;
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 12px;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 11em;
  text-align: center;
  width: auto;
  transition: box-shadow 200ms ease-in-out 0s;
  font-weight: 600;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  padding: 20px;
}

.yellow-text {
  color: #141414;
}

.yogurt-2f58xg:hover, .yogurt-2f58xg:focus, .yogurt-2f58xg:active {
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5);
}

